<header class="site-header">
<div class="wrapper">
    <a class="site-title center" href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{"/img/site-pic.jpg" | prepend: site.baseurl }}" class="site-pic center" />
        <p class="center">{{ site.title }}</p>
    </a>
    <p class="site-subtitle center">
    Software engineer at Facebook. Formerly at Stanford, Zendesk, and Stubhub.
    </p>
    <div class="wrapper">
    <ul class="media-list center">
        <a href="//facebook.com/itsBLAM"><li class="icon icon-facebook"></li></a>
        <a href="//twitter.com/_brianlam"><li class="icon icon-twitter"></li></a>
        <a href="//instagram.com/_brianlam"><li class="icon
            icon-instagram"></li></a>
        <a href="//github.com/lambrian"><li class="icon icon-github"></li></a>
    </ul>
</div>
</div>
</header>
