/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 36px;

  @include media-query($on-laptop) {
    font-size: 32px;
  }
}

h2, .h2 {
  font-size: 32px;
  
  @include media-query($on-laptop) {
    font-size: 28px;
  }
}

h3, .h3 {
  font-size: 24px;

  @include media-query($on-laptop) {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: 20px;

  @include media-query($on-laptop) {
    font-size: 16px;
  }
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family-serif;
  color: $text-color;
  background-color: $background-color;
  ::selection {
    background: $highlight-color; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $highlight-color; /* WebKit/Blink Browsers */
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}

.img-group {
  display: flex;
}

.img-group > div {
  display: flex;
  align-items: center;
}

.caption {
  font-size: 12px;
  color: grey;
  text-align: center;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-style: italic;
  font-weight: 200;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.art {
  max-width: 1200px;
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

/**
General
 */

.center {
  margin: 0 auto;
  text-align: center;
}

a {
  color: $text-color;
  font-weight: $heavy-font-weight;
  text-decoration: none;

  &:hover {
    color: $highlight-color;
  }
}

/**
Site header
 */

.header {
  max-width: 550px;
}

.site-header {
  margin: 100px 0;
  min-height: 56px;
}

.site-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: $brand-color;

  p {
    color: $brand-color;
  }
}

.site-subtitle {
  a {
    color: $text-color;
    border-bottom: 2px solid $grey-color-light;
    border-radius: 1px;

    &:hover {
      color: $text-color;
      border-bottom: 2px solid $grey-color-dark;
    }
  }
}

.title {
  font-family: $base-font-family-sans-serif;
}

.banner {
  display: flex;
  font-family: $base-font-family-sans-serif;
  padding: 20px;

  a {
    text-decoration: none;
    &:hover {
      background-color: inherit;
    }
  }

  .banner-pic {
    border-radius: 50%;

    @include media-query($on-laptop) {
      display: none;
    }
  }

  .banner-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $brand-color;
    text-decoration: none;
    &:hover {
      background-color: $highlight-color;
    }

    @include media-query($on-laptop) {
      display: none;
    }
  }

  &:hover > .banner-icon {
    border-color: $highlight-color;
  }

  &:hover > * > *> .banner-title {
      background-color: $highlight-color;
  }
}

.banner-icon {
  margin-right: 4px;
  border: 2px solid $brand-color;
  border-radius: 50%;
  &:hover {
    border-color: $highlight-color;
  }

  @include media-query($on-laptop) {
    &:hover {
      background-color: $highlight-color;
    }
  }
}

.banner-icon-content {
  height: 24px;
  padding: 4px;
  width: 24px;
  display: flex;
  justify-content: center;
}

.condensed-banner-title {
  display: none;

  @include media-query($on-laptop) {
    display: inline;
  }
}

.nav-bar-container {
  color: $brand-color;
  display: inline;
  position: absolute;
  right: 0;
  padding-right: 24px;

  a {
    color: $brand-color;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-heading {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: $brand-color;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  @include media-query($on-laptop) {
    text-align: center;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  line-height: 1;

  @include media-query($on-laptop) {
    text-align: center;
  }
}

/**
 * Posts Table of Contents
 */
.category-section {
  .category-title {
    font-family: $base-font-family-sans-serif;
    font-size: 24px;
    margin: 12px 0;
  }
}

.category-divider {
  border-top: 1px solid $grey-color-light;
}

.post-link {
  .post-link-title {
    color: $grey-color-dark;
    font-size: $large-font-size;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  .post-link-date {
    color: $grey-color;
    font-size: $small-font-size;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit * 2/3;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}

.photos-container {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;

  .selected-photo-container {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    margin-left: 20px;

    .selected-photo {
      height: 96%;
      width: auto;
    }
  }
}
