/**
 General
 */

.center {
    margin: 0 auto;
    text-align: center;
}

a {
    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: $text-color;
    }

    &:visited:hover {
        color: $brand-color;
    }
}

/**
 Site header
 */

.header {
    max-width: 550px;
}

.site-header {
    margin: 100px 0;
    min-height: 56px;
}

.site-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: $brand-color;

    p {
        color: $brand-color;
    }
}

.site-subtitle {
    a {
        color: $text-color;
        border-bottom: 2px solid $grey-color-light;
        border-radius: 1px;
        
        &:hover {
            color: $text-color;
            border-bottom: 2px solid $grey-color-dark;
        }
    }
}

.site-pic {
    border: 5px solid $brand-color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    padding: 5px;
}

.banner {
    padding: 20px;
}

.banner-pic {
    height: 25px;
    border-radius: 50%;
    display: inline;
    padding: 3px;
    border: 2px solid $brand-color;
}

.banner-title {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $brand-color;
}

.media-list {
    margin-top: 25px;
    list-style: none;
    width: 208px;

    li {
        float: left;
    }
}

.icon {
    height: 32px;
    width: 32px;
    margin: 10px;
}

.icon-facebook {
    background-image: url('../img/icon-facebook.svg');
}

.icon-twitter {
    background-image: url('../img/icon-twitter.svg');
}

.icon-instagram {
    background-image: url('../img/icon-instagram.svg');
}

.icon-github {
    background-image: url('../img/icon-github.svg');
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: $brand-color;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 30px;
    color: black;
    font-weight: 600;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.cover-photo {
  min-width: 200%;
  position: relative;
  left: -50%;
}
