:root {
    --cell-border: 1px solid black;
}
.game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 36px;
}

:root {
    --month-columns: 3;
}

@media (max-width: 1280px) {
    :root {
        --month-columns: 1;
    }
}

.queens-list {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(var(--month-columns), 1fr);
    column-gap: 36px;
}

.game-title {
    display: flex;
}

.game-option {
    border: 2px solid black;
    padding: 12px 12px;
    border-radius: 12px;
    margin: 8px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    padding: 12px 12px;
    border: 2px solid black;
    margin: 0 10px;
    border-radius: 5px;
}
.grid-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.grid {
    --cell-size: calc(min(90vw / var(--length), 50px));
    background-color: black;
    font-size: calc(var(--cell-size) / 2);
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(var(--length), var(--cell-size));
    grid-template-rows: repeat(var(--length), var(--cell-size));
    column-gap: 2px;
    row-gap: 2px;
    border: 4px solid black;
    border-radius: 4px;
}

@keyframes grow-shrink {
    0% {
        font-size: calc(var(--cell-size) / 2);
    }
    50% {
        font-size: calc(var(--cell-size) / 1.75);
    }
    100% {
        font-size: calc(var(--cell-size) / 2);
    }
}

.cell {
    background-color: var(--cell-color);
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-width 2s ease 0s;
}

.ruled > * {
    opacity: 100%;
    transition: opacity 0.5s ease 1s;
}
.cell-win.ruled > * {
    opacity: 0%;
}

.queen > * {
    transition:
        filter 2s ease 3s,
        transform 2s ease 5s;
}

.cell-win.queen > * {
    animation: grow-shrink 1s ease-in 1s 2 alternate;
    transform: translateY(calc(-1 * var(--num-row) * (var(--cell-size) + 2px)));
}

.invalid-cell {
    --invalid-stripe: rgba(255, 10, 10, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(
        45deg,
        var(--invalid-stripe),
        var(--invalid-stripe) 4px,
        var(--cell-color) 4px,
        var(--cell-color) 8px
    );
}

.row-0 {
    --num-row: 0;
}
.row-1 {
    --num-row: 1;
}
.row-2 {
    --num-row: 2;
}
.row-3 {
    --num-row: 3;
}
.row-4 {
    --num-row: 4;
}
.row-5 {
    --num-row: 5;
}
.row-6 {
    --num-row: 6;
}
.row-7 {
    --num-row: 7;
}
.row-8 {
    --num-row: 8;
}
.row-9 {
    --num-row: 9;
}
.row-10 {
    --num-row: 10;
}
.row-11 {
    --num-row: 11;
}
.row-12 {
    --num-row: 12;
}

.color-0 {
    --cell-color: #ffd765;
    /* Vibrant Yellow */
}

.color-1 {
    --cell-color: #6fc9f4;
    /* Bright Sky Blue */
}

.color-2 {
    --cell-color: #77c682;
    /* Lively Soft Green */
}

.color-3 {
    --cell-color: #ff7a46;
    /* Bold Orange */
}

.color-4 {
    --cell-color: #ff7bf0;
    /* Bright Red-Pink */
}

.color-5 {
    --cell-color: #c078d9;
    /* Rich Lavender Purple */
}

.color-6 {
    --cell-color: #ffb94b;
    /* Warm Orange */
}

.color-7 {
    --cell-color: #787bd9;
    /* Vivid Indigo */
}

.color-8 {
    --cell-color: #53d5d9;
    /* Vibrant Teal */
}

.color-9 {
    --cell-color: #a6d95b;
    /* Fresh Olive Green */
}

.color-10 {
    --cell-color: #ffa6c1;
    /* Playful Pink */
}

.color-11 {
    --cell-color: #8cd977;
    /* Bright Mint Green */
}

.color-12 {
    --cell-color: #ffbf86;
    /* Soft Peach */
}

.color-13 {
    --cell-color: #b485e5;
    /* Deep Lavender Purple */
}

.color-14 {
    --cell-color: #ffac7a;
    /* Coral Peach */
}

.color-15 {
    --cell-color: #70d3e5;
    /* Aqua Blue */
}

.color-16 {
    --cell-color: #fff05c;
    /* Bright Cream Yellow */
}

.color-17 {
    --cell-color: #85a8ff;
    /* Soft Baby Blue */
}

.color-18 {
    --cell-color: #e18a8c;
    /* Rose Red */
}

.color-19 {
    --cell-color: #ff97a4;
    /* Soft Coral Pink */
}

.color-20 {
    --cell-color: rgba(100, 100, 100, 1);
}

.border-left {
    border-left: var(--cell-border);
}

.border-right {
    border-right: var(--cell-border);
}

.border-top {
    border-top: var(--cell-border);
}

.border-bottom {
    border-bottom: var(--cell-border);
}

.calendar-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calendar-title {
    text-align: center;
    padding: 18px 12px;
    font-weight: 500;
}

.calendar-view {
    --num-weeks: 4;
    display: grid;
    grid-template-columns: repeat(7, 35px);
    grid-template-rows: repeat(calc(var(--num-weeks) + 1), 35px);
    row-gap: 4px;
    column-gap: 4px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
}

.has-board {
    background-color: rgba(255, 215, 0, 0.7);
}

.today {
    border: 2px solid rgba(255, 20, 0, 0.7);
}

.has-board > a:hover {
    color: white;
}

.weekday-title {
    color: rgba(0, 0, 0, 0.6);
}

.weeks-4 {
    --num-weeks: 4;
}

.weeks-5 {
    --num-weeks: 5;
}

.weeks-6 {
    --num-weeks: 6;
}

:root {
    --title-pixel-side-count: 6;
    --title-pixel-size: 10px;
}
.grid-game-title {
    display: grid;
    grid-template-columns: repeat(
        var(--title-pixel-side-count),
        var(--title-pixel-size)
    );
    grid-template-rows: var(--title-pixel-side-count);
    gap: 1px;
    padding: 0 4px;
}

.title-cell {
    width: var(--title-pixel-size);
    height: var(--title-pixel-size);
}
