<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {{content}}
        <script>
        const WRITE_DIMENSIONS_MODE = false;
        const saveImageDimensions = () => {
            console.log('hi');
            const photosets = document.querySelectorAll(".photoset");
            for (photoset of photosets) {
                const photos = [...photoset.children];
                for (photo of photos) {
                    photo.setAttribute('data-img-width', `${photo.naturalWidth}`);
                    photo.setAttribute('data-img-height', `${photo.naturalHeight}`);
                }
            }
        }

        const onresize = (event) => {
            const photosets = document.querySelectorAll(".photoset");
            for (photoset of photosets) {
                const photos = [...photoset.children];
                const heights = photos.map(elem => elem.getAttribute('data-img-height') || elem.naturalHeight);
                const widths = photos.map(elem => elem.getAttribute('data-img-width') || elem.naturalWidth);

                const max_h = Math.max(...heights);
                const scales = heights.map((height) => max_h/height);
                const scaled_widths = widths.map((width, i) => width * scales[i]);
                const page_width = document.querySelector(".photo-essay-wrapper > .photoset").offsetWidth;

                const overall_scale = (page_width - ((heights.length - 1) * 12)) / (scaled_widths.reduce((sum, width) => sum + width, 0));

                const final_scaled_heights = heights.map((height, i) => Math.floor(height * scales[i] * overall_scale));
                const final_scaled_widths = widths.map((width, i) => Math.floor(width * scales[i] * overall_scale) - 1);

                for (let i = 0; i < photoset.children.length; i++) {
                    photos[i].style.width = `${final_scaled_widths[i]}px`;
                    photos[i].style.height = `${final_scaled_heights[i]}px`;
                }
            }
        };
        if (WRITE_DIMENSIONS_MODE) {
            Promise.all(Array.from(document.images).filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))).then(() => {
                saveImageDimensions();
            });
        } else {
            addEventListener("resize", onresize);
            onresize();
        }
        </script>
    </body>
</html>
